*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1{
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 2em;
    color:aqua;
    margin-bottom: 20px;
}
p{
    font-size: 1em;
    color:blue;
    line-height: 1.5;
    margin-bottom: 15px;
}